body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  background-color: #fff;
  width: 75em;
  height: 60vmin;
  margin: 0px 0.83em; padding:0px;
  text-align:center;
}

#main {
  float: left;
  width: 75em;
  height: 60vmin;
}

#sequence {
  width: 75em;
  height: 10vmin;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
  float: left;
  width: 62.5em;
  height: 90%;
  margin: 0em 0em;
  padding:0px;
}

#chart path {
  stroke: #fff;
}


#explanation {
  float: right;
  width: 11.7em;
  color: #666;
}

#size {
  font-size: 2.5em;
}

#root {
    visibility: visible;
    font-size: 2em;
    color: #000066;
}

